<a href="https://colab.research.google.com/github/andresvillamayor/BigData-Pro/blob/main/BigData_Pro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Proyecto de Big Data 
Andr√©s Villamayor 
Universidad Comunera

In [119]:
#importando librerias
import pandas as pd 
from  google.colab import drive

In [120]:
drive.mount("/content/drive")
#montar mi drive para los archivos

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [121]:
data = pd.read_csv("/content/drive/My Drive/UCOM-BIGDATA/datatweet-07112020-v2.csv", sep="," , engine="python")

In [122]:
data.head()

                    id  ...      origen_usuario
0  1325044772231319552  ...            Paraguay
1  1325043363574390785  ...            Paraguay
2  1325041977717641216  ...  Asuncion, Paraguay
3  1325039205572079616  ...   asunci√≥n paraguay
4  1325039193920311298  ...  Asunci√≥n, Paraguay

[5 rows x 14 columns]

In [124]:
#usar el texto para (ver el corpus para el analisis de sentimiento)
#importamos la libreria NLTK ( Natural Lenguage Tool Kit)
import nltk
#nltk.download('stopwords') # ya se importo la libreria
#nltk.download('punkt') # ya se importo la libreria

In [125]:
#importa la libreria de soptwords de nltk 
from nltk.corpus import stopwords
# Initialize the stopwords
stoplist = stopwords.words('spanish')

In [126]:
# datos de parada - verificacion que este en espa√±ol 
print(stoplist)

['de', 'la', 'que', 'el', 'en', 'y', 'a', 'los', 'del', 'se', 'las', 'por', 'un', 'para', 'con', 'no', 'una', 'su', 'al', 'lo', 'como', 'm√°s', 'pero', 'sus', 'le', 'ya', 'o', 'este', 's√≠', 'porque', 'esta', 'entre', 'cuando', 'muy', 'sin', 'sobre', 'tambi√©n', 'me', 'hasta', 'hay', 'donde', 'quien', 'desde', 'todo', 'nos', 'durante', 'todos', 'uno', 'les', 'ni', 'contra', 'otros', 'ese', 'eso', 'ante', 'ellos', 'e', 'esto', 'm√≠', 'antes', 'algunos', 'qu√©', 'unos', 'yo', 'otro', 'otras', 'otra', '√©l', 'tanto', 'esa', 'estos', 'mucho', 'quienes', 'nada', 'muchos', 'cual', 'poco', 'ella', 'estar', 'estas', 'algunas', 'algo', 'nosotros', 'mi', 'mis', 't√∫', 'te', 'ti', 'tu', 'tus', 'ellas', 'nosotras', 'vosotros', 'vosotras', 'os', 'm√≠o', 'm√≠a', 'm√≠os', 'm√≠as', 'tuyo', 'tuya', 'tuyos', 'tuyas', 'suyo', 'suya', 'suyos', 'suyas', 'nuestro', 'nuestra', 'nuestros', 'nuestras', 'vuestro', 'vuestra', 'vuestros', 'vuestras', 'esos', 'esas', 'estoy', 'est√°s', 'est√°', 'estamos', 'est√°is', 'est√°n', 'est√©', 'est√©s', 'estemos', 'est√©is', 'est√©n', 'estar√©', 'estar√°s', 'estar√°', 'estaremos', 'estar√©is', 'estar√°n', 'estar√≠a', 'estar√≠as', 'estar√≠amos', 'estar√≠ais', 'estar√≠an', 'estaba', 'estabas', 'est√°bamos', 'estabais', 'estaban', 'estuve', 'estuviste', 'estuvo', 'estuvimos', 'estuvisteis', 'estuvieron', 'estuviera', 'estuvieras', 'estuvi√©ramos', 'estuvierais', 'estuvieran', 'estuviese', 'estuvieses', 'estuvi√©semos', 'estuvieseis', 'estuviesen', 'estando', 'estado', 'estada', 'estados', 'estadas', 'estad', 'he', 'has', 'ha', 'hemos', 'hab√©is', 'han', 'haya', 'hayas', 'hayamos', 'hay√°is', 'hayan', 'habr√©', 'habr√°s', 'habr√°', 'habremos', 'habr√©is', 'habr√°n', 'habr√≠a', 'habr√≠as', 'habr√≠amos', 'habr√≠ais', 'habr√≠an', 'hab√≠a', 'hab√≠as', 'hab√≠amos', 'hab√≠ais', 'hab√≠an', 'hube', 'hubiste', 'hubo', 'hubimos', 'hubisteis', 'hubieron', 'hubiera', 'hubieras', 'hubi√©ramos', 'hubierais', 'hubieran', 'hubiese', 'hubieses', 'hubi√©semos', 'hubieseis', 'hubiesen', 'habiendo', 'habido', 'habida', 'habidos', 'habidas', 'soy', 'eres', 'es', 'somos', 'sois', 'son', 'sea', 'seas', 'seamos', 'se√°is', 'sean', 'ser√©', 'ser√°s', 'ser√°', 'seremos', 'ser√©is', 'ser√°n', 'ser√≠a', 'ser√≠as', 'ser√≠amos', 'ser√≠ais', 'ser√≠an', 'era', 'eras', '√©ramos', 'erais', 'eran', 'fui', 'fuiste', 'fue', 'fuimos', 'fuisteis', 'fueron', 'fuera', 'fueras', 'fu√©ramos', 'fuerais', 'fueran', 'fuese', 'fueses', 'fu√©semos', 'fueseis', 'fuesen', 'sintiendo', 'sentido', 'sentida', 'sentidos', 'sentidas', 'siente', 'sentid', 'tengo', 'tienes', 'tiene', 'tenemos', 'ten√©is', 'tienen', 'tenga', 'tengas', 'tengamos', 'teng√°is', 'tengan', 'tendr√©', 'tendr√°s', 'tendr√°', 'tendremos', 'tendr√©is', 'tendr√°n', 'tendr√≠a', 'tendr√≠as', 'tendr√≠amos', 'tendr√≠ais', 'tendr√≠an', 'ten√≠a', 'ten√≠as', 'ten√≠amos', 'ten√≠ais', 'ten√≠an', 'tuve', 'tuviste', 'tuvo', 'tuvimos', 'tuvisteis', 'tuvieron', 'tuviera', 'tuvieras', 'tuvi√©ramos', 'tuvierais', 'tuvieran', 'tuviese', 'tuvieses', 'tuvi√©semos', 'tuvieseis', 'tuviesen', 'teniendo', 'tenido', 'tenida', 'tenidos', 'tenidas', 'tened']

In [127]:
# creamos un data frame solo con el texto 
datatexto =  data['texto']
datatexto.head()

0    RT @LaNacionPy: üî¥ Seis pa√≠ses, entre ellos Din...
1    üî¥ Seis pa√≠ses, entre ellos Dinamarca, Espa√±a y...
2    RT @npyoficial: #Destacado El reporte diario d...
3    RT @npyoficial: #Destacado El reporte diario d...
4    #Destacado El reporte diario del covid-19 anun...
Name: texto, dtype: object

In [128]:
#funcion de limpiar el texto 
#librerias
from string import punctuation
from nltk import word_tokenize

def limpiar_texto (text):
    non_words = list(punctuation)
    text = ''.join([c for c in text if c not in non_words])
    tokens =  word_tokenize(text)
    return tokens

In [129]:
#crear una funcion 
#tokenizar los datos 
spanish_stopwords = stopwords.words('spanish')
def valor_token(tokens):
  vector_texto = []
  #normalizacion del texto 
  tokens = [w.lower() for w in tokens]
  tokens =  [w for w in tokens if not w in spanish_stopwords]
  for item in tokens:
        vector_texto.append((item))  
  return vector_texto

In [130]:
# Analizar sentimiento del corpus 
#!pip install spanish-sentiment-analysis
#Libreria de Analisis de Sentimiento  https://pypi.org/project/spanish-sentiment-analysis   ( creado por Elliot Hofman 2018)
from classifier import SentimentClassifier
#crear una funcion 
def analizar(cadena_texto):
  clf = SentimentClassifier()
  valor = clf.predict(cadena_texto)
  #print (cadena_texto,valor) 
  return valor

In [132]:
resultado_valor=[]
for tweet in datatexto:
  datos_limpios = limpiar_texto(tweet)
  datos_tokenizados = valor_token (datos_limpios)
  #print(datos_tokenizados)
  cadena_valor = ' '.join([str(elem) for elem in datos_tokenizados])
  #print (cadena_valor)
  #analizar sentimiento del corpus 
  valor = analizar(cadena_valor)
  resultado_valor.append(valor)  
  #print (resultado_valor)

#agregar al data frame original el valor del Analisis del Corpus 
print ('======================== Fin del proceso de Analisis ==================')

=========================== Fin del proceso de Analisis ==================

In [133]:
#Se agrega la columan Pre = Prediccion del Analisis de Sentimiento al Data Frame original "data"
data['Pre'] = resultado_valor
#impimir data frame 
data.head()

                    id  ...       Pre
0  1325044772231319552  ...  0.207881
1  1325043363574390785  ...  0.207881
2  1325041977717641216  ...  0.041255
3  1325039205572079616  ...  0.041255
4  1325039193920311298  ...  0.041255

[5 rows x 15 columns]

In [134]:
#verificar los tipos de datos
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       10 non-null     int64
 1   texto                    10 non-null     object
 2   Fecha                    10 non-null     object
 3   retweet                  10 non-null     int64
 4   favorite                 10 non-null     int64
 5   dispositivo              10 non-null     object
 6   codigo_usuario           10 non-null     int64
 7   alias_de_usuario         10 non-null     object
 8   nombre_usuario           10 non-null     object
 9   fecha_de_usuario         10 non-null     object
 10  descripcion_del_usuario  9 non-null      object
 11  seguidores_de_usuario    10 non-null     int64
 12  amigos_de_usuario        10 non-null     int64
 13  origen_usuario           10 non-null     object
 14  Pre                      10 non-null     float64
dtypes: float64(1), int64(6), object(8)
memory usage: 1.3+ KB

Verificar los Datos para normalizacion 
Uso de Lablel Encoder 
Eliminacion de Columnas que no aportan

In [135]:
# Revision de los datos 
# Borrar los campos de id 
# Borrar el codigo de usuario  se tiene su nombre y su alias 
data.drop(['id','codigo_usuario'],axis = 'columns',inplace = True)
data.head()

                                               texto  ...       Pre
0  RT @LaNacionPy: üî¥ Seis pa√≠ses, entre ellos Din...  ...  0.207881
1  üî¥ Seis pa√≠ses, entre ellos Dinamarca, Espa√±a y...  ...  0.207881
2  RT @npyoficial: #Destacado El reporte diario d...  ...  0.041255
3  RT @npyoficial: #Destacado El reporte diario d...  ...  0.041255
4  #Destacado El reporte diario del covid-19 anun...  ...  0.041255

[5 rows x 13 columns]

In [136]:
#cacular hace cuanto tiempo usa twitter el usuario 
#libreria 
import numpy as np
#
data['Fecha'] = pd.to_datetime(data['Fecha'])
data['fecha_de_usuario'] = pd.to_datetime(data['fecha_de_usuario'])
data['Tiempo'] = ((data['Fecha']-data['fecha_de_usuario'])/np.timedelta64(1,'Y')).astype(int)

In [137]:
#verificar dataframe 
data.head()

                                               texto  ... Tiempo
0  RT @LaNacionPy: üî¥ Seis pa√≠ses, entre ellos Din...  ...      9
1  üî¥ Seis pa√≠ses, entre ellos Dinamarca, Espa√±a y...  ...     10
2  RT @npyoficial: #Destacado El reporte diario d...  ...      2
3  RT @npyoficial: #Destacado El reporte diario d...  ...     11
4  #Destacado El reporte diario del covid-19 anun...  ...     10

[5 rows x 14 columns]

In [140]:
#Uso de Lablel Encoder 
#importamos libreria 
from sklearn import preprocessing

#codificacion
#dispositivo 
leDispositivo  = preprocessing.LabelEncoder()
data['dispositivo'] = leDispositivo.fit_transform(data['dispositivo'])
#origen usuario
leOrigen_usuario  = preprocessing.LabelEncoder()
data['origen_usuario'] = leOrigen_usuario.fit_transform(data['origen_usuario'])

data.head()

                                               texto  ... Tiempo
0  RT @LaNacionPy: üî¥ Seis pa√≠ses, entre ellos Din...  ...      9
1  üî¥ Seis pa√≠ses, entre ellos Dinamarca, Espa√±a y...  ...     10
2  RT @npyoficial: #Destacado El reporte diario d...  ...      2
3  RT @npyoficial: #Destacado El reporte diario d...  ...     11
4  #Destacado El reporte diario del covid-19 anun...  ...     10

[5 rows x 14 columns]

In [142]:
# verificar la inversa del Label Encoder
leDispositivo.inverse_transform(data['dispositivo'])  
# 2 Android 
# 1 Web App de Twitter
# 3 IPhone 
# 0 TeetDeck

array(['Twitter for Android', 'Twitter Web App', 'Twitter for Android',
       'Twitter for iPhone', 'TweetDeck', 'TweetDeck', 'Twitter Web App',
       'Twitter for Android', 'Twitter Web App', 'Twitter for Android'],
      dtype=object)

In [149]:
# Colocar los valores Buenos y Malos dentro del Data Frame 
# Dependiendo del valor de Pre
final = []
#Valor 0 =  Sentimiento NEGATIVO
#Valor 1 =  Sentimiento POSITIVO
for resultado in  data['Pre']:
  if resultado <= 0.5:
    x = 0
    final.append(x)
  else:
    x = 1
    final.append(x)

In [152]:
data['Final'] = final
data

                                               texto  ... Final
0  RT @LaNacionPy: üî¥ Seis pa√≠ses, entre ellos Din...  ...     0
1  üî¥ Seis pa√≠ses, entre ellos Dinamarca, Espa√±a y...  ...     0
2  RT @npyoficial: #Destacado El reporte diario d...  ...     0
3  RT @npyoficial: #Destacado El reporte diario d...  ...     0
4  #Destacado El reporte diario del covid-19 anun...  ...     0
5  #Destacado El reporte diario del covid-19 anun...  ...     0
6  üìç¬øExiste la posibilidad de una reinfecci√≥n por...  ...     0
7  RT @FabianCosta1: Entre los 10 fallecidos por ...  ...     0
8  COVID-19: 703 casos positivos y 10 decesos htt...  ...     0
9  RT @hoypy: #Nacionales | Pablo Herken venci√≥ a...  ...     1

[10 rows x 15 columns]